@font-face {
  font-family: myFirstFont;
  src: url(/font/BPreplay.otf);
}


.sidebar{
	font-family: myFirstFont;
	float: left;
	height: 100%;
	width:auto;
	position: fixed;
	top:0;
	left:-10px;
	/*border-right: solid 10px  rgb(255, 64, 64);*/

}


.sidebar a{
	display: list-item;
	list-style-type: none;
	text-decoration: none;

	font-size: 20px;
	color:black;
	margin-top: 50px;
	margin-bottom: 50px;
	

}

.sidebar a b{
	display:none;
	font-size: 15px;
	color:white;


}

@-webkit-keyframes fadeIn {
    from { opacity: 0;
    		transform: translate(-5px,0);
     }
      to { opacity: 1;
      transform: translate(10px,0); }
}
@keyframes fadeIn {
    from { opacity: 0; 
    	transform: translate(-5px,0); }
      to { opacity: 1; 
      	transform: translate(10px,0);}
}

.sidebar a:hover b{

	display: inline;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transform: translate(10px,0);
	position:absolute;
	border-left: solid 5px  rgb(255, 64, 64);

}